<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.ZwinfoMapper">
    <sql id="Where_Clause" >
        <where>
            <if test="id!=null and id!=0">
                and id= #{id}
            </if>
                                                                        <if test="name!=null and name!=''">
                            and name=#{name}
                        </if>
                                                        </where>
    </sql>
        	<select id="query" parameterType="java.util.Map" resultType="Zwinfo">
		select * from zwinfo  
		<include refid="Where_Clause" />
        <if test="page">
            limit #{offset} ,#{pageSize}
        </if>
	</select>
    <select id="getCount" parameterType="java.util.Map" resultType="Int">
        select count(0) from zwinfo
        <include refid="Where_Clause" />
    </select>
	<select id="queryZwinfoById" parameterType="int" resultType="Zwinfo">
		select * from zwinfo where id=${value}
	</select>
	<insert id="insertZwinfo" useGeneratedKeys="true" keyProperty="id" parameterType="Zwinfo">
		insert into zwinfo
		(name)
		values
		(#{name});
	</insert>
	<update id="updateZwinfo" parameterType="Zwinfo" >
		update zwinfo set
		name=#{name}
		where
		id=#{id}	
	</update>
	<delete id="deleteZwinfo" parameterType="int">
	    delete from  zwinfo where id=${value}
	</delete>
</mapper>
 